.catalog-cards__select {
  justify-content: space-between;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: 5px;
  }
}

.select-wrapper__title {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 14px;
  }
}

.select-control {
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  border: none;
  background-color: transparent;
  padding: 1px 3px 3px 10px;
}

.select-sorting-type {
  position: relative;
}

.select-sorting-type::after {
  content: " ";
  display: block;
  width: 10px;
  height: 7px;
  background-image: url("../../icons/icon-select.svg");
  background-repeat: no-repeat;
  background-position: 14px;
  position: absolute;
}

.select-control:hover,
.select-control:focus {
  background-color: $base-secondary;
}

.select-control:active::after,
.select-control:focus::after {
  transform: rotate(180deg);
  border: none;
}
