.catalog-cards__select {
  justify-content: space-between;
  margin-bottom: 13px;
  display: flex;
  margin-left: 4px;


  @media (min-width: $tablet-width) {
  width: 292px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: 5px;
  }
}

.select-wrapper__title {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  @media (min-width: $tablet-width) {
    margin-left: 14px;
  }
}

.select-control {
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  border: none;
  background-color: transparent; 
}

.select-sorting-type::after {
  content: " ";
  position: relative;
  display: block;
  width: 10px;
  height: 7px;
  background-image: url(../../icons/icon-select.svg);
  background-repeat: no-repeat;
  left: 132px;
  bottom: 15px;
 
}

.select-control:hover,
.select-control:focus {
  background-color: $base-secondary; 
}

.select-sorting-type:active::after {
  transform: rotate(180deg);
  border: none;
}