.catalog-cards__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
  width: 292px;
  margin-left: auto;
  margin-bottom: 30px;
  }
}

.select-wrapper__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.select-control {
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 165px;
  color: $base-primary;
  padding: 4px 27px 4px 10px;
  border: none;
  background-color: transparent; 
}

.select-sorting-type::after {
  content: " ";
  position: relative;
  display: block;
  width: 10px;
  height: 7px;
  background-image: url(../../icons/icon-select.svg);
  background-repeat: no-repeat;
 left: 141px;
 bottom: 18px;
 
}

.select-control:hover,
.select-control:focus {
  background-color: $base-secondary; 
}

.select-sorting-type:active::after {
  transform: rotate(180deg);
  border: none;
}