.features__container {
  padding-top: 50px;
  padding-bottom: 30px;
}

.features__badge {
  text-align: center;
  display: block;
  color: $base-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 4px;



}

.features__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  text-align: center;
  display: block;
  margin-bottom: 35px;
 

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin: 0;
    width: 728px;
    text-shadow: none;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1400px;
    margin-bottom: 80px;
  }
}


.features__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0;
  margin: 0;
  align-items: center;

  @media (min-width: $tablet-width) {
  width: 708px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__item {
  display: block;
  min-height: 142px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 339px;
    margin-bottom: 0;
    min-height: 144px;
  }
}

.features__item-title {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-left: 82px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
      margin-left: 0;
      margin-top: 73px;
      text-align: center;
  }
}

.features__item-describe {
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 73px;
    margin-top: 0;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-left: 82px
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      margin-top: 0;
      text-align: center;
    }
}


.features__item--speed {
  background-image: url("../../icons/icon-speed.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50px 56px;

  @media (min-width: $tablet-width) {
    background-size: 52px 56px;
    background-position: 10px 3px;
  }

  @media (min-width: $desktop-width) {
    background-position: top;
  }
}

.features__item--fit {
  background-image: url("../../icons/icon-fit.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50px 56px;

  @media (min-width: $tablet-width) {
    background-size: 52px 56px;
    background-position: 10px 3px;
  }

  @media (min-width: $desktop-width) {
    background-position: top;
  }
}
.features__item--energy {
  background-image: url("../../icons/icon-energy.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50px 56px;

  @media (min-width: $tablet-width) {
    background-size: 52px 56px;
    background-position: 9px 0px;
  }

  @media (min-width: $desktop-width) {
    background-position: top;
  }
}

.features__item--eco {
  background-image: url("../../icons/icon-eco.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50px 56px;

  @media (min-width: $tablet-width) {
    background-size: 52px 56px;
    background-position: 10px 3px;
  }

  @media (min-width: $desktop-width) {
    background-position: top;
  }
}
