.header {
  background-color: $base-white; 
}

.header__container {
  min-height: 60px;
  margin: 0 auto;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-content: center;
  
}

.header__nav {
  position: absolute;
  width: 100%;
  min-height: 232px;
  z-index: 1;
  background-color: $base-white;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60px;
  border-bottom: 1px solid $lightest-grey;
  //display: none;
  outline: 5px solid rgba(161, 128, 128, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
  position: static;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 450px;
}
}

.navigation__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
  display: flex;
  width: 500px;
  max-height: 60px;
  justify-content: center;
  align-items: center;
  outline: 5px solid rgba(31, 20, 61, 0.8);
  outline-offset: -5px;
  }
  
}

.header__container-inner {
  display: flex;
  width: 160px;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.header__logo {
  display: flex;
  align-items: center;

}

.header__user {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url("../../icons/icon-user.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;

 
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 130px;
      background-position: left;
    }

}

.header__cart {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url("../../icons/icon-cart.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 130px;
    background-position: left;
  }
}

.header__toggle {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  position: relative;
  background-color: #fff;  
  padding: 0;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 5px 0 0 #000, 0 10px 0 0 #000;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__text {
  display: none;
 
  @media (min-width: $desktop-width) {
    display: block;
  }

}

.header__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}