.hero {
  background-color: $flat-white;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($flat-white 75%, $base-white 25%);
  }

  @media (min-width: $desktop-width) {
    background-color: $flat-white;
    background-image: none;
  }
}