
.navigation__item {
 
  border-top: 1px solid $lightest-grey;
 
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.navigation__item-link {
  color: $base-black;
  align-self: center;
  letter-spacing: 0.02px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 32px 100% 32px 100%;
  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }

}

.navigation__item-link:focus-visible {
  outline: none;
}

.navigation__item-link:hover,
.navigation__item-link:focus {
  color: $base-primary;
}

.navigation__item-link:active {
  background-color: $base-secondary;
}

.navigation__item-link--current {
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
  color: $base-primary;
  position: relative;
  background-color: transparent;
  }
}

.navigation__item-link--current::after {
  @media (min-width: $tablet-width) {
  content: "";
  display: block;
  width: 103px;
  height: 2px;
  background-color: $base-primary;
  position: absolute;
  top: 72px;
  right: 0px;
  }
}