.slide-passive {
  display: none;
}

.slider {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px 60px 65px;
  }
}

.slide__wrapper-img {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    order: 5;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    order: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.slide__content-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}

.slide__wrapper-text {
  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.slide__badge {
  text-align: center;
  display: block;
  color: $base-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 4px;
    margin-top: 12px;
  }
}

.slider__pagination-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    width: 228px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
}

.slider__pagination-button {
  width: 62px;
  height: 4px;
  background-color: $base-white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slider__pagination-button--current {
  background-color: $base-primary;
}

.slider__pagination-button:hover,
.slider__pagination-button:focus {
  background-color: $primary-opacity-0-25;
}

.slider__pagination-button:active {
  background-color: $base-primary;
}

.slide__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  text-align: center;
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
    margin: 0;
    width: 728px;
    text-shadow: none;
    margin-bottom: 16px;
    letter-spacing: 1.2px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 16px;
  }
}

.slide__description {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;

    display: block;
    width: 606px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
  }
}

.slide__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.slide__price-buy {
  width: 113px;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $base-primary;
  color: $base-white;
  margin-left: 20px;
}

.slide__price-buy:hover,
.slide__price-buy:focus {
  background-color: $primary-lighter;
}

.slide__price-buy:active {
  background-color: $primary-darker;
}

.slide__price-buy:disabled {
  background-color: $base-grey;
}

.slide__price-old {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
}

.slide__price-new {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  margin-left: 7px;
}

.slider__button-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17px;
  width: 112%;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 106%;
    left: -22px;
    top: 38%;
  }

  @media (min-width: $desktop-width) {
    left: -40px;
    top: 50%;
  }
}

.slider__button {
  width: 11px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: block;
  cursor: pointer;
}


.slider__button-wrapper-focus {
  @media (min-width: $tablet-width) {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}

.slider__button-wrapper-focus:hover,
.slider__button-wrapper-focus:focus {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to right, $base-white, transparent);
  }
}

.slider__button--prev {
  background-image: url("../../icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 20px;

  @media (min-width: $tablet-width) {
    background-size: 20px 20px;
  }
}

.slider__button--next {
  transform: rotate(180deg);
  background-image: url("../../icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 20px;

  @media (min-width: $tablet-width) {
    background-size: 20px 20px;
  }
}
